small {
	color: #bdc3c7;
}

.fa {
	color: #ffffff;
	margin-right: 10px;
	margin-top: 20px;
}

.fa:hover {
	color: #1EAEDB;
}

html, body {
	height: 100%;
}

#bg {
	background-image: url(https://i.imgur.com/IYhIDFS.jpg); 
	background-size: cover !important;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	z-index: -999;
	position: fixed;
}

body {
	color: #ffffff;
}

.button {
	color: #ffffff;
}

.button:hover {
	color: #ffffff;
}

.container {
	background-color:rgba(0, 0, 0, 0.03);
	padding-left: 50px;
	padding-right: 50px;
}

.line {
	width: 100%;
}

option, input, select, textarea {
	color: #8C8C8C;
}

input, textarea {
	width: 100%;
}

textarea {
	min-height: 95px;
}

#loading {
	background-color: #1b1b1b;
	position: fixed;
	z-index: 9001;
	width: 100%;
	height: 100%;
}

.load {
	margin-top: 22.5%;
	text-align: center;
	margin-left: 47%;
}

form {
	background-color:rgba(256, 256, 256, 0.05);
	padding: 10px 10px 10px 10px;
}

img,video {
	width: 100%;
}

.back {
	position: fixed;
	top: 20px;
	left: 20px;
}



.top {
	position: fixed;
	top: 20px;
	right: 20px;
}

.top:active,.top:focus {
	color: #fff;
}



/*menu bar*/
.mbutton {
	display: inline-block;
}

.mbutton {
	text-decoration: none;
	color: #fff;
	padding: 10px 10px;
	height: 30px;
}

.menu {
	width: 100%;
	position: fixed;
	z-index: 9001;
	background-color: rgba(24,24,24, 0.8);
	height: 50px;
}

.menucontent {
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


a.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

.csk {
	font-weight: bold;
	font-size: 20px;
}

.active {
	color: #1EAEDB;
}

.gfyVid {
	width: 100%;
}

.gfywrap > div {
	width: 45% !important;
	float: left;
	margin-left: 2.5%;
}